################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularCore/obj/Release/netcoreapp2.0
/.vs
/packages
/SampleApplication.IDP/obj/
/AngularCore/node_modules
/AngularCore/obj