################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularCore/obj/Release/netcoreapp2.0
/.vs
